*~
/SIN142-IOBound/nbproject/private/
/SIN142-IOBound/build/
/bin/
.classpath
.project
target
.settings
.DS_Store
.faces-config.xml.jsfdia
MANIFEST.MF
.idea
*.iml
*.jar
RemoteSystemsTempFiles
bin
/arquivos/
